.__ime-subfooter .___suf-copyright, 
.__ime-subfooter .___suf-copyright a {
    font: var(--font-208);
    color: var(--color-307);

    text-decoration: none;
    position: relative;
}

.__ime-subfooter .___suf-copyright a:hover {
    transition: all var(--effect-408);

    color: var(--effect-402);

}



.__ime-subfooter .___suf-copyright a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--effect-404);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.__ime-subfooter .___suf-copyright a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* == MOBILE == */

@media screen and (max-width: 570px) {
    .__ime-subfooter {
        justify-content: center;
    }
}