/* Beta 2.1.0 */
:root {
    /* Background */
    --bg-101: #f5f2f0;
    --bg-102: #242020;
    --bg-103: #423e3e;
    --bg-104: #b6b6b6;
    /* Fonts */
    --font-201: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
    --font-202: 800 3rem "Overpass", Arial, Helvetica, sans-serif;
    --font-203: 700 2.25rem "Overpass", Arial, Helvetica, sans-serif;
    --font-204: 600 1.5rem "Overpass", Arial, Helvetica, sans-serif;
    --font-205: 500 1.25rem "Overpass", Arial, Helvetica, sans-serif;
    --font-206: 500 1.125rem "Overpass", Arial, Helvetica, sans-serif;
    --font-207: 500 1rem "Inter", Arial, Helvetica, sans-serif;
    --font-208: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
    --font-209: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
    /* Colors */
    --color-301: #0b0d17;
    --color-302: #595959;
    --color-303: #ecf7f8;
    --color-304: #d9e3e4;
    --color-305: #eca256;
    --color-306: #b5020b;
    --color-307: #b0b7b8;
    /* Effects */
    --effect-401: #b5020b;
    --effect-402: #eca256;
    --effect-403: #f5f2f0;
    --effect-404: #eca256;
    --effect-405: rgba(100, 100, 111, 0.2);
    --effect-406: rgba(202, 202, 202, 0.2);
    --effect-407: 0.5s;
    --effect-408: 0.3s;
    --effect-409: 3rem;
    --effect-410: none;
}

.__ime-header,
.__ime-header ._menu-dk {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.__ime-header ._logo {
    padding: 1rem 2rem;

    border-right: 2px solid var(--color-302);
}

.__ime-header ._logo img {
    width: 8rem;
}

/* Menu Desktop */

.__ime-header ._menu-dk {
    width: 100%;

    padding: 1rem 2rem;
}

.__ime-header ._menu-dk .nav {
    display: flex;
    flex-direction: row;

    gap: 2rem;

    font: var(--font-206);
}

.__ime-header ._menu-dk .nav a {
    color: var(--color-307);
    text-decoration: none;

    position: relative;
}

.__ime-header ._menu-dk .nav a:hover {
    transition: all var(--effect-407);

    color: var(--effect-402)
}


.__ime-header ._menu-dk .nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--effect-402);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.__ime-header ._menu-dk .nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Menu Mobile */