.__ime-header,
.__ime-header ._menu-dk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__ime-header {
  padding: 0 2rem !important;
}

/* Logo */

.__ime-header ._logo {
  padding: 0.8rem 2rem;
  padding-left: 0;

  border-right: 2px solid var(--color-302);
}

.__ime-header ._logo img {
  width: 8rem;
}

/* Menu Desktop */

.__ime-header ._menu-dk {
  padding: 0.8rem 2rem;
  padding-right: 0;

  width: -webkit-fill-available;
}

.__ime-header ._menu-dk .nav {
  display: flex;
  flex-direction: row;

  gap: 2rem;

  font: var(--font-206);
}

.__ime-header ._menu-dk .nav a {
  color: var(--color-307);
  text-decoration: none;

  position: relative;
}

.__ime-header ._menu-dk .nav a:hover {
  transition: all var(--effect-407);

  color: var(--effect-402);
}

.__ime-header ._menu-dk .nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: var(--effect-402);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.__ime-header ._menu-dk .nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Menu Mobile */

._menu-mb {
  display: none;
}

._menu-mb ._btn {
  border: none;
  background: none;

  color: var(--color-307);

  font: var(--font-206);
  font-size: 2rem;

  cursor: pointer;

  display: grid;
  place-content: center;

  margin: auto;
}

._menu-mb ._btn:hover {
  transition: all var(--effect-407);

  color: var(--effect-402);
}

._menu-mb ._nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: var(--bg-102);

  z-index: 2;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

._menu-mb ._header {
  position: fixed;
  top: 2rem;

  width: 100%;

  text-align: center;
}

._menu-mb ._nav nav {
  display: grid;
  place-content: center;

  gap: 3rem;

  height: inherit;
}

._menu-mb ._nav li {
  text-align: center;
}

._menu-mb ._nav a,
._menu-mb ._pover-button {
  font-size: 1.3rem !important;
  font-weight: 600 !important;

  color: var(--color-307);
  text-decoration: none;

  position: relative;
}

._menu-mb ._nav a:hover {
  transition: all var(--effect-407);

  color: var(--effect-402);
}

._menu-mb ._nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: var(--effect-402);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

._menu-mb ._nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* == MOBILE == */

@media screen and (max-width: 902px) {
  /* Menu DeskTop */
  .__ime-header ._menu-dk {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .__ime-header ._menu-dk .nav {
    display: none;
  }

  .__ime-header ._menu-dk ._search {
    width: 70%;
  }

  /* Menu Mobile */
  ._menu-mb {
    display: block;
  }

  ._menu-mb ._btn {
    padding: 0;
  }

  ._menu-mb ._pover-panel {
    left: 1rem !important;
  }

  ._menu-mb ._pover-panel_insttucional {
    left: -1rem !important;
  }
}

@media screen and (max-width: 690px) {
  /* Logo */
  .__ime-header ._logo {
    border: none;
  }

  .__ime-header ._logo img {
    width: 6rem;
  }

  /* Menu DeskTop */
  .__ime-header ._menu-dk {
    display: none;
  }
}
