._footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 3rem;
    
    height: fit-content;
}

._ft-nav-collums {
    display: grid;
    gap: 3rem;

    
    height: fit-content;
}

@media screen and (max-width: 1024px) {
    ._footer-nav {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    ._footer-nav {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 543px) {
    ._footer-nav {
        grid-template-columns: repeat(1, 1fr);
    }
}