/* Beta 2.1.0 */
:root {
    /* Background */
    --bg-101: #f5f2f0;
    --bg-102: #242020;
    --bg-103: #423e3e;
    --bg-104: #b6b6b6;
    /* Fonts */
    --font-201: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
    --font-202: 800 3rem "Overpass", Arial, Helvetica, sans-serif;
    --font-203: 700 2.25rem "Overpass", Arial, Helvetica, sans-serif;
    --font-204: 600 1.5rem "Overpass", Arial, Helvetica, sans-serif;
    --font-205: 500 1.25rem "Overpass", Arial, Helvetica, sans-serif;
    --font-206: 500 1.125rem "Overpass", Arial, Helvetica, sans-serif;
    --font-207: 500 1rem "Inter", Arial, Helvetica, sans-serif;
    --font-208: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
    --font-209: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
    /* Colors */
    --color-301: #0b0d17;
    --color-302: #595959;
    --color-303: #ecf7f8;
    --color-304: #d9e3e4;
    --color-305: #eca256;
    --color-306: #b5020b;
    --color-307: #b0b7b8;
    /* Effects */
    --effect-401: #b5020b;
    --effect-402: #eca256;
    --effect-403: #f5f2f0;
    --effect-404: #eca256;
    --effect-405: rgba(100, 100, 111, 0.2);
    --effect-406: rgba(202, 202, 202, 0.2);
    --effect-407: 0.5s;
    --effect-408: 0.3s;
    --effect-409: 3rem;
    --effect-410: none;
}

._ime-sobheader .navsocial .mobile {
    display: none;
}

._ime-sobheader .navsocial .desktop {
    display: flex;
    flex-direction: row;

    gap: 0.8rem;
}

._ime-sobheader .navsocial a {
    font: var(--font-207);
    font-size: 1.3rem;

    color: var(--color-307);
    text-decoration: none;

    padding: 0.3rem;

    height: auto;

    display: flex;
    align-self: center;
    justify-content: center;

    border-radius: 50%;
}

._ime-sobheader .navsocial .desktop a:hover {
    transition: all var(--effect-407);

    color: var(--effect-402);
    background-color: var(--effect-406)
}

/* Mobile */

@media screen and (max-width: 768px) {
    ._ime-sobheader .navsocial .desktop {
        display: none;
    }

    ._ime-sobheader .navsocial .mobile .dotsthree_icon {
        height: auto;
        width: 2.1rem;
    }

    ._ime-sobheader .navsocial .mobile {
        display: flex;
        flex-direction: column;

        position: relative;
    }

    ._ime-sobheader .navsocial .mobile a {
        color: var(--color-307);

        justify-content: start;
        align-items: center;

        gap: 0.5rem;

        text-decoration: none;
        font: var(--font-208);
        font-size: 1.2rem;
    
        position: relative;

        padding: 1.2rem 1.6rem;
        width: -webkit-fill-available;
    }

    ._ime-sobheader .navsocial .mobile div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        position: absolute;
        top: 4rem;
        right: 0;
    
        width: max-content;

        background-color: var(--bg-102);
        border-radius: 5px;

        filter: drop-shadow(var(--effect-405));
    }

    ._ime-sobheader .navsocial .mobile a:hover {
        transition: all var(--effect-408);

        color: var(--color-305);

        background-color: var(--effect-406);
        border-radius: 5px;
    }
}